<div class="container">
	<hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <h3>Side Bar</h3>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info" ng-init="services()">
        <div class="alert alert-{{alertClass}} alert-dismissable" ng-if="alertMessage">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          {{message}}
        </div>
        <h3>New Pet Service</h3>
        
        <form class="form-horizontal" novalidate autocomplete="off" role="form" name="serviceForm" ng-submit="savePetService()">
          <div class="form-group">
            <label class="col-lg-3 control-label">Pet Type</label>
            <div class="col-lg-8">
              <select required class="form-control" ng-model="service.pet_type" name="pet_type">
                <option value="">Pet Type</option>
                <option value="Dogs">Dogs</option>
                <option value="Cates">Cates</option>
                <option value="Birds">Birds</option>
                <option value="Hamsters">Hamsters</option>
                <option value="Turtles">Turtles</option>
                <option value="Guinea Pig">Guinea Pig</option>
              </select>
              <span class="required" ng-show="serviceForm.pet_type.$error.required">Pet type is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Pet Service</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="service.service_type" name="service_type">
              <span class="required" ng-show="serviceForm.service_type.$error.required">Pet Service is required.</span>
            </div>
          </div> 
          <div class="form-group">
            <label class="col-lg-3 control-label">Pet Service Description</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="service.description" name="description" >
              <span class="required" ng-show="serviceForm.description.$error.required">Service Description is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Service Price</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="service.price" name="price" >
              <span class="required" ng-show="serviceForm.price.$error.required">Service Price is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Price Per Unit</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="service.price_per_unit" name="price_per_unit" >
              <span class="required" ng-show="serviceForm.price_per_unit.$error.required">Price per unit is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Service Location</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="service.service_location" name="service_location" >
              <span class="required" ng-show="serviceForm.service_location.$error.required">Service Location is required.</span>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="share_service" ng-model="service.share_service" value="1">Able to share service
            <input type="checkbox" name="share_images" ng-model="service.share_images" value="1">Share images on profile
          </div>   
          <div class="form-group">
             <label>Upload Files</label>
                <span class="btn file">
                <input type="file" name="images" ng-model="service.images" class="file form-control" ng-upload-change="fileNameChanged($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*" multiple></span>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="{{btnText}}"  ng-disabled="serviceForm.$invalid">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>