<section class="listview">
   <div class="container">
      <div class="row">
         <div class="col-lg-3" >
          <div class="leftpanel">
           <ul>
              <li><a href="/provider/profile" class="profile" ng-class='profileActive ? "active" : "" '><span></span> Profile</a></li>
              <li><a href="/provider/bookings" class="booking" ng-class='bookingActive ? "active" : "" '><span></span>Bookings</a></li>
              <li><a href="/provider/services" class="service" ng-class='serviceActive ? "active" : "" '><span></span>Services</a></li>
              <li><a href="/provider/payments" class="payment" ng-class='paymentActive ? "active" : "" '><span></span>Payment</a></li>
              <li><a href="/provider/messages" class="msg" ng-class='messageActive ? "active" : "" '><span></span>Messages</a></li>
           </ul>
          </div>           
         </div>
         <div class="col-lg-9" ng-init="me()">
            <div class="rightpanel">
               <div class="profile-temp">
                  <div class="fullservices">
                     <a href="#" class="closebtn"></a>
                     <img src="/uploads/providers/{{user.profile_picture}}" id="userImage" onerror="this.onerror=null;this.src='//placehold.it/180';">
                  </div>
                  <div class="profilebtn">
                     <a href="javascript:void(0);" ng-click="updateProfile()" class="btn btn-secondary">Upload Image</a>
                     <div class="fileupload">
                        <input type="file" name="profile_picture"  ng-upload-change="fileNameChanged($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*" class="btn btn-primary">
                     </div>
                     <div class="form-group videolink">
                        <input type="text" name="user_video" ng-model="user.video_link" class="nomy" placeholder="Video link" autocomplete="off">
                        <button class="file-video-button" ng-click="updateProfile()" ng-disabled="!user.video_link">Add a video</button>
                     </div>
                  </div>
               </div>
               <p class="text-uppercase"><strong>Profile</strong></p>
                  <div class="profileform">
                    <form class="form-horizontal" novalidate autocomplete="off" role="form" name="profileForm" ng-submit="updateProfile()">
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="form-group">
                              <input ng-model="user.first_name" name="first_name" class="form-control" placeholder="First Name" autocomplete="off">
                              <span class="required" ng-show="profileForm.first_name.$error.required">First name is required.</span>                           
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-group">
                              <input type="text" name="last_name" ng-model="user.last_name" class="form-control" placeholder="Last name" required autocomplete="off">       
                              <span class="required" ng-show="profileForm.last_name.$error.required">Last name is required.</span>           
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" required readonly autocomplete="off">
                              <span class="required" ng-show="profileForm.email.$error.required">Email is required.</span>  
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="form-group">
                              <input type="text" name="city" ng-model="user.city" class="form-control" placeholder="City" required autocomplete="off"> 
                              <span class="required" ng-show="profileForm.city.$error.required">City name is required.</span>  
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="form-group">
                              <select class="form-control" name="state" ng-model="user.state" required>
                                 <option value="">State</option>
                                 <option value="PB">PB</option>
                              </select>
                              <span class="required" ng-show="profileForm.state.$error.required">State name is required.</span>
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="form-group">
                              <input type="text" name="zip" ng-model="user.zip" class="form-control" placeholder="Zip code" required>
                              <span class="required" ng-show="profileForm.zip.$error.required">Zip code is required.</span>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <textarea class="form-control" name="bio" ng-model="user.bio" rows="5" cols="1" placeholder="Bio">
                              </textarea>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="addfile">
                                 <input type="file" name="images" ng-upload-change="uploadUserImages($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*" class="btn btn-primary" class="add" multiple="true">
                              </div>
                              <span class="user-images" ng-repeat="image in user.images">
                                <img src="/uploads/providers/{{image}}">
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Update profile</button>
                           </div>
                        </div>
                     </div>
                    </form>

                    <form class="form-horizontal" novalidate autocomplete="off" role="form" name="passwordForm" ng-submit="updatePassword()">
                     <div class="row">
                        <div class="col-lg-12">
                           <p class="text-uppercase mb-2"><strong>PASSWORD</strong></p>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-group">
                              <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="New password">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-group">
                              <input type="password" name="confirm_password" ng-model="user.confirm_password" class="form-control" placeholder="Confirm password">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input type="submit" name="" class="btn btn-primary" value="Update password">
                           </div>
                        </div>
                     </div>
                    </form> 
                  </div>               
            </div>
         </div>
      </div>
   </div>
</section>