<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info" ng-init="me()">
        <div class="alert alert-{{alertClass}} alert-dismissable" ng-if="alertMessage">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" novalidate autocomplete="off" role="form" name="profileForm" ng-submit="updateProfile()">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="user.first_name" name="first_name" >
              <span class="required" ng-show="profileForm.first_name.$error.required">First name is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="user.last_name" name="last_name" >
              <span class="required" ng-show="profileForm.last_name.$error.required">Last name is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" ng-model="user.email" name="email" readonly>
              <span class="required" ng-show="profileForm.email.$error.required">Email is required.</span>
            </div>
          </div>  
          <!-- <div class="form-group">
            <label class="col-lg-3 control-label">Pets:</label>
            <div class="col-lg-8">
              <input class="" type="checkbox" value="Dogs" ng-model="user.pets.dogs" name="pets"> Dogs 
              <input class="" type="checkbox" value="Cats" ng-model="user.pets.cats" name="pets"> Cats 
              <input class="" type="checkbox" value="Birds" ng-model="user.pets.birds" name="pets"> Birds 
              <input class="" type="checkbox" value="Hamsters" ng-model="user.pets.hamsters" name="pets"> Hamsters 
              <input class="" type="checkbox" value="Turtles" ng-model="user.pets.turtles" name="pets"> Turtles 
              <input class="" type="checkbox" value="Guinea Pig" ng-model="user.pets.guinea" name="pets"> Guinea Pig 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Services:</label>
            <div class="col-lg-8">
              <input class="" type="checkbox" value="Training" ng-model="user.service_pricing.training" name="services"> Training  <input class="form-control" placeholder="Price" type="text" ng-if="user.service_pricing.training" ng-model="user.service_pricing.trainingprice" name="trainingprice">

              <input class="" type="checkbox" value="Walking" ng-model="user.service_pricing.walking" name="services"> Walking  <input class="form-control" placeholder="Price" type="text" ng-if="user.service_pricing.walking" ng-model="user.service_pricing.walkingprice" name="walkingprice">

              <input class="" type="checkbox" value="Potty Training" ng-model="user.service_pricing.pottytraining" name="services"> Potty Training  <input class="form-control" placeholder="Price" type="text" ng-if="user.service_pricing.pottytraining" ng-model="user.service_pricing.pottytrainingprice" name="pottytrainingprice">

              <input class="" type="checkbox" value="Bathing" ng-model="user.service_pricing.bathing" name="services"> Bathing  <input class="form-control" placeholder="Price" type="text" ng-if="user.service_pricing.bathing" ng-model="user.service_pricing.bathingprice" name="bathingprice">

            </div>
          </div>
          <div class="form-group">
             <label>Upload Files</label>
                <span class="btn file">
                <input type="file" name="images" ng-model="user.images" class="file form-control" ng-upload-change="fileNameChanged($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*" multiple></span>
          </div> -->
          <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              <textarea class="form-control" type="text" ng-model="user.address" name="address" ></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Bio:</label>
            <div class="col-lg-8">
              <textarea class="form-control" type="text" ng-model="user.bio" name="bio" ></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" name="password" ng-model="user.password" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" ng-model="user.confirm_password" name="confirm_password" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Update Profile"  ng-disabled="profileForm.$invalid">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>