<section class="listview">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="leftpanel">
               <ul>
                  <li><a href="/provider/profile" class="profile" ng-class='profileActive ? "active" : "" '><span></span> Profile</a></li>
                  <li><a href="/provider/bookings" class="booking" ng-class='bookingActive ? "active" : "" '><span></span>Bookings</a></li>
                  <li><a href="/provider/services" class="service" ng-class='serviceActive ? "active" : "" '><span></span>Services</a></li>
                  <li><a href="/provider/payments" class="payment" ng-class='paymentActive ? "active" : "" '><span></span>Payment</a></li>
                  <li><a href="/provider/messages" class="msg" ng-class='messageActive ? "active" : "" '><span></span>Messages</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-9" ng-init="loadServices()">
            <div class="rightpanel">
               <div class="headingpanel">
                  <p class="heading"><strong>My current services:</strong></p>
                  <select class="form-control" ng-model="filters.pet_type">
                     <option value="">Sort services/pets</option>
                     <option value="Dogs">Dogs</option>
                     <option value="Cats">Cats</option>
                     <option value="Birds">Birds</option>
                     <option value="Hamsters">Hamsters</option>
                     <option value="Turtles">Turtles</option>
                     <option value="Guinea Pig">Guinea Pig</option>
                  </select>
               </div>
               <div class="servicelive myaccount">
                  <table cellpadding="5" cellspacing="" class="tableservice">
                     <thead>
                        <tr>
                           <th></th>
                           <th></th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="service in services | filter:filters">
                           <td data-label="">
                              <div class="labelp"  ng-bind="service.service_type">Dog Training</div>
                           </td>
                           <td data-label="">
                              <div class="labelp" >{{service.price | currency}} <span class="per" ng-bind="service.price_per_unit">Per session</span></div>
                           </td>
                           <td data-label="">
                              <a href="/provider/service/view/{{service.id}}" class="btn btn-primary btn-sm text-uppercase">View</a>
                              <a href="/provider/service/edit/{{service.id}}" class="btn btn-secondary btn-sm text-uppercase">Edit</a>
                              <a href="javascript:void(0);" ng-click="deletePetService(service.id)" class="btn btn-secondary btn-sm text-uppercase">Remove</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <a href="/provider/service/add" class="btn btn-primary">Add Pet Service</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>