<section class="listview" ng-init="providers()">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="isidebar">
               <div class="rangbar">
                  <div class="boxside">
                     <h3>Location</h3>
                     <div class="numberside">
                        <span class="num">58935</span>
                        <span class="changeloc">Change location > <a href="" class="locationicon"></a> </span>
                     </div>
                     <h3>Distance</h3>
                     <div class="range-output">
                        <span class="locationrange"></span>  
                        <input class="single-slider" type="text" value="0.50"/>
                        <span class="logosicon"></span>
                     </div>
                  </div>
                  <div class="sideb">
                     <div class="form-group searchcon">
                        <input type="text" name="" ng-model="Training" placeholder="Training" ng-change="filterByTraining()" class="form-control">
                       <!--  <input type="submit" name="" value="" class="searchnum"> -->
                     </div>
                  </div>
                  <div class="sideb">
                     <div class="form-group">
                        <select class="form-control" ng-model="petType" ng-change="filterByPetType()" >
                            <option value="">Pet Type</option>
                            <option value="Dogs">Dogs</option>
                            <option value="Cats">Cats</option>
                            <option value="Birds">Birds</option>
                            <option value="Hamsters">Hamsters</option>
                            <option value="Turtles">Turtles</option>
                            <option value="Guinea Pig">Guinea Pig</option>
                        </select>
                     </div>
                  </div>
                  <div class="sideb">
                     <div class="form-group">
                         <input required class="form-control" type="text" ng-change="filterByServiceType()" ng-model="serviceType" name="service_type" placeholder="Service Type">
                     </div>
                  </div>
                  <div class="sideb">
                     <div class="form-group datepickstyle">
                        <label>Date Service Needed</label>
                        <div class="dateicon"></div>
                        <input data-date-format="dd/mm/yyyy" ng-model="serviceDate" ng-change="filterByServiceDate()" id="datepicker">
                     </div>
                  </div>
                  <div class="sideb">
                     <label>Rate per night</label>
                     <div class="range-output rateper">
                        <input class="range-slider" type="text" ng-model="pricePerUnit" ng-change="filterByPriceUnit()" value="15,85"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <h4><span ng-bind="listproviders.length"></span> Results Found</h4>
            <div class="vpprofile" ng-repeat="list in listproviders track by $index">
               <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                     <div class="imgcont-profile">
                        <img src="img/profile-img01.png">
                     </div>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                     <div class="listprofile">
                        <div class="profiledata">
                           <h3 ng-bind="list.first_name"></h3>
                           <div class="serivice-pro">
                              <p class="ser-proname">Services: 
                                <span ng-repeat="serv in list.services"> {{serv.service_type}} </span>
                              </p>
                              <div class="divprofiletext">
                                 <p>Location: <span><strong ng-bind="list.address"></strong></span></p>
                              </div>
                           </div>
                           <div class="btnprofile">
                              <a href="/provider/view/{{list.id}}" class="btn small btn-primary">View profile</a>
                              <a href="#" class="btn small btn-secondary">Book</a>
                              <a href="#" class="btn small heartbtn fill"><span></span></a>
                           </div>
                        </div>
                        <div class="r-profile">
                           <p class="bluetext text-center"><strong>(36)</strong></p>
                           <div class="comment-pro">
                              <div class="img-prosec">
                                 <img src="img/small-profile-img02.png">
                              </div>
                              <div class="imgtext-pro">
                                 <p><em> “Nancy treated my dog like it was her own. I would for sure recommend her!” </em></p>
                                 <p><em>- Joe M. </em> - Dog Lover</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  </section>

  <script type="text/javascript">
         $('.single-slider').jRange({
            from: -2.0,
            to: 2.0,
            step: 0.5,
            scale: [-2.0,-1.0,0.0,1.0,2.0],
            format: '%s ML',
            width: 220,
            showLabels: true,
            snap: true
         });
         
         $('.range-slider').jRange({
         from: 0,
         to: 100,
         //  step: 1,
         // scale: [0,25,50,75,100],
         format: '$%s',
         width: 290,
         showLabels: true,
         isRange : false,
         showScale:false
         });
         
        $('#datepicker').datepicker({
             weekStart: 1,
             daysOfWeekHighlighted: "6,0",
             autoclose: true,
             todayHighlight: true,
         });
         $('#datepicker').datepicker("setDate", new Date());     

         
      </script>